<div class="card m-3">
  <p-toolbar
    [style]="{ 'border-radius': '3rem', padding: '1rem 1rem 1rem 1.5rem' }"
  >
    <ng-template pTemplate="start">
      <div class="flex items-center gap-2">
        <p-button icon="pi pi-calendar" [rounded]="true" severity="secondary" />
        <a href="/today" class="p-button p-button-text">Today</a>
        <a href="/saturday" class="p-button p-button-text">Saturday</a>
        <a href="/sunday" class="p-button p-button-text">Sunday</a>
      </div>
    </ng-template>

    <ng-template pTemplate="end">
      <div class="flex items-center gap-2">
        <p-button label="Share" severity="contrast" size="small" />
        <p-avatar
          image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
          [style]="{ width: '32px', height: '32px' }"
        />
      </div>
    </ng-template>
  </p-toolbar>
</div>
